<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post title"
      />
      <mat-error *ngIf="form.get('title').invalid"
        >Post title is required</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filepicker.click()">
        Pick Image
      </button>
      <input type="file" #filepicker (change)="onImagePick($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview != '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        #postInput
        placeholder="Post content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Post content is required</mat-error
      >
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
